@model IceBear.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="edit-form">
    <h2 id="form-title">@ViewBag.Title</h2>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>Identity Roles</h4>

        <div class="form-horizontal form-content">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                <div id="submit-button">
                    <input type="submit" value="Save" class="button" />
                </div>
            </div>
        </div>
        }

        <div class="button " id="back-button">
            @Html.ActionLink("Cancel", "Index")
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
