<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title | IceBear Electric</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- =======================================================
    * Template Name: Mentor - v2.2.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <!--Custom Styles  - ALWAYS Last-->
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            @*<h1 class="logo mr-auto"><a href="@Url.Action("Index","Home")">Mentor</a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="@Url.Action("Index","Home")" class="logo mr-auto"><img src="~/Content/assets/img/ICEBEAR ELECTRIC Logo (0).jpg" alt="" class="img-fluid"></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About","Home")">About</a></li>
                    <li class="drop-down">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="#">Information</a>
                            <ul>
                                <li><a href="@Url.Action("Index","Cours")">Courses</a></li>
                                <li><a href="@Url.Action("Index","CourseCompletions")"> Course Completion</a></li>
                                <li><a href="@Url.Action("Index","Lessons")">Lessons</a></li>
                                <li><a href="@Url.Action("Index","LessonViews")">Viewed Lessons</a></li>
                            </ul>
                        }
                    <li class="drop-down">
                        <a href="#">Get Started</a>
                        <ul>
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="drop-down">
                                    <a>Admin Functions</a>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
                                        <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    Copyright  &copy; @DateTime.Now.Year
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
                    Designed by <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a> Converted to MVC by <a href="http://www.KathrynRosella.com" target="_blank">Kathryn R. Hudgins</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxs-happy-heart-eyes"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-github"></i></a>
                <a href="#" class="instagram"><i class="bx bxs-file"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

    <!--Datatables.net Script-->
    @*<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>*@

    <!--jqueryUI Script-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>