@model IceBear.Data.EF.LessonView

@{
    ViewBag.Title = "Details";
}

<div class="detail-form">
    <h2 id="form-title">Detail Page : Lessons Viewed</h2>

    <h4>
        @Html.DisplayFor(model => model.UserDetail.UserName)
    </h4>

    <div class="form-content">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateViewed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateViewed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lesson.LessonTitle)
            </dd>
        </dl>
        <p class="button " id="detail-edit">
            @Html.ActionLink("Edit", "Edit", new { id = Model.LessonViewId })
        </p>
    </div>
    <p class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </p>
</div>
