@model IceBear.UI.MVC.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="edit-form">
    <h2 id="form-title">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>User Info</h4>

        <div class="form-horizontal form-content">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            @Html.Label("Roles", new { @class = "control-label" })
            @foreach (var item in Model.RolesList)
            {
                <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                @Html.Label(item.Value, new { @class = "control-label" })
            }

            <div class="form-group">
                <div id="submit-button">
                    <input type="submit" value="Save" class="button" />
                </div>
            </div>
        </div>
    }

    <div class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
