@model IceBear.UI.MVC.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add Phone Number";
}

<div class="create-form">
    <h2 id="form-title">@ViewBag.Title</h2>

    @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4></h4>

        <div class="form-horizontal form-content">

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Number, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div id="submit-button">
                    <input type="submit" value="Send verification code" class="button" />
                </div>
            </div>
        </div>
    }

    <div class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
