@model IceBear.Data.EF.Cours

@{
    ViewBag.Title = "Edit";
}

<div class="edit-form">
    <h2 id="form-title">@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>COURSE</h4>

<div class="form-horizontal form-content">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CourseId)

    <div class="form-group">
        @Html.LabelFor(model => model.NameOfCourse, htmlAttributes: new { @class = "control-label" })

        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control float" } })
        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })

    </div>            
    <div class="form-group">
        @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
        <div class="checkbox">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div id="submit-button">
            <input type="submit" value="Save" class="button" />
        </div>
    </div>
</div>
    }

    <div class="button " id="back-button">
        @Html.ActionLink("Cancel", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
